.signup-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.signup-container {
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
}

.signup-page a {
    color: rgb(139, 222, 255);
}

.signup-page a:hover {
    color: rgb(226, 226, 255);
}

@media (max-width: 330px) {
    .signup-page {
        margin-top: 25px;
    }
    .signup-container {
        padding: 35px 35px 25px 35px!important;
    }
}