.leaderboard {
    color: white;
    background-color: rgb(100, 100, 100);
}

.leaderboard a {
    text-decoration: none;
    color: white;
}

.leaderboard th {
    font-size: 1.3rem;
}

.leaderboard td {
    font-size: 1.1rem;
}

.leaderboard th {
    cursor: pointer;
}
