.game {
    color: white;
    position: fixed;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.game button {
    background-color: black;
    border: black;
}

.game button:hover {
    color: black;
    background-color: white;
}

.game ul {
    list-style: none;
    padding: 0;
}

.game .letter, .game .guessed {
    padding: 5px;
    margin: 0 2px;
    font-size: 28px;
}

.game .letter:hover {
    font-size: 30px;
    cursor: pointer;
}

.game .letter:active {
    font-size: 26px;
}

.hide {
    display: none;
}

.letter-value {
    padding: 0 4px;
}